.rate-list {
  display: flex;
  flex-direction: column;

  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @media ($tablet) {
     justify-content: center;
    }
  }

  &-item {
    margin-bottom: $building-unit-x3;
    &:not(:last-child) {
      margin-right: $building-unit-x3;
    }
  }
}
