$header-height: 60px;

.header {
  display: flex;
  background-color: $white;
  align-items: center;
  height: $header-height;

  &-logo {
    height: 30px;
  }

  &-setting {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}
