.exchange {
  display: flex;
  flex-direction: column;
  padding-bottom: $building-unit-x10;
  align-items: center;

  &-active {
    display: flex;
    justify-content: center;
    margin-right: $building-unit-x2;

    @media ($tablet) {
      margin-right: 0;
    }
  }

  &-content {
    display: flex;

    @media ($tablet) {
      flex-direction: column;
    }
  }

  &-other {
    margin-left: $building-unit-x2;

    @media ($tablet) {
      margin-left: 0;
      margin-top: $building-unit-x2;
    }
  }

  &-buttons {
    display: flex;
    justify-content: center;
  }

  &-loading {
    display: flex;
    margin: $building-unit-x2 0;
    padding: $building-unit-x2;
    width: 345px;
    border-radius: $border-radius;
    background: $bg;
  }

  &-input {
    border: 0;
    outline: 0;
    border-radius: $border-radius/2;
    height: $building-unit-x6;
    margin-top: $building-unit;
    padding: 0 $building-unit-x2;

    &::placeholder {
      color: gray;
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;

    &:first-child {
      margin-bottom: $building-unit-x4;
    }

    &:last-child {
      margin-top: $building-unit-x4;
    }
  }

  &-rates {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: $building-unit-x3 $building-unit;
  }
}
