.pocket-list {
  display: flex;
  flex-direction: column;
  margin-top: $building-unit-x10;
  border-radius: $border-radius;

  &-content {
    display: flex;
    justify-content: space-around;
  }
}
