.exchange {
  &-form {
    display: flex;
    justify-content: center;
    background: $bg;
    border-radius: $border-radius;
    flex-direction: column;
    width: 345px;
    max-height: 360px;
    padding: $building-unit-x4 $building-unit-x3;
    margin-top: $building-unit-x2;
  }

  &-button {
    display: flex;
    cursor: pointer;
    background-color: $blue;
    border-radius: $border-radius;
    outline: none;
    box-shadow: none;
    border: 0;
    align-items: center;
    justify-content: center;
    padding: $building-unit $building-unit-x2;
    transition: $default_transition;

    .is-white {
      margin-left: $building-unit;
    }

    &:disabled {
      pointer-events: none;
      background-color: $gray;
      cursor: default;
    }

    &:hover {
      background-color: $blue-dark;
    }
  }

  &-input {
    border: 0;
    outline: 0;
    border-radius: $border-radius/2;
    height: $building-unit-x6;
    margin-top: $building-unit;
    padding: 0 $building-unit-x2;

    &::placeholder {
      color: gray;
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;

    &:first-child {
      margin-bottom: $building-unit-x4;
    }

    &:last-child {
      margin-top: $building-unit-x4;
    }
  }

  &-error {
    &-message {
      color: $red;
      margin: 0;
    }
  }
}
