.exchange {
  &-form {
    display: flex;
    background: $bg;
    border-radius: $border-radius;
    flex-direction: column;
    width: 345px;
    padding: $building-unit-x4 $building-unit-x3;
    margin-top: $building-unit-x2;
  }

  &-input {
    border: 0;
    outline: 0;
    border-radius: $border-radius/2;
    height: $building-unit-x6;
    margin-top: $building-unit;
    padding: 0 $building-unit-x2;

    &::placeholder {
      color: gray;
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;

    &:first-child {
      margin-bottom: $building-unit-x4;
    }

    &:last-child {
      margin-top: $building-unit-x4;
    }
  }

  &-rates {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 345px;
    padding: $building-unit-x3 $building-unit;
  }
}
