// colors

// primary
$black: #121212;
$white: #FFFFFF;
$gray: #A6A6A6;
$blue: #0666EB;
$blue-dark: #0042b7;
$blue-gray: #8697A9;


// Building Units
$building-unit: 8px;
$building-unit-x0_5: $building-unit / 2; // 4px
$building-unit-x1_5: $building-unit + $building-unit-x0_5; // 12px
$building-unit-x2: $building-unit * 2; // 16px
$building-unit-x3: $building-unit * 3; // 24px
$building-unit-x4: $building-unit * 4; // 32px
$building-unit-x5: $building-unit * 5; // 40px
$building-unit-x6: $building-unit * 6; // 48px
$building-unit-x7: $building-unit * 7; // 56px
$building-unit-x8: $building-unit * 8; // 64px
$building-unit-x9: $building-unit * 9; // 72px
$building-unit-x10: $building-unit * 10; // 80px
$building-unit-x11: $building-unit * 11; // 88px
$building-unit-x12: $building-unit * 12; // 96px

// line-height
$line-height-h1: 40px;
$line-height-h2: 32px;
$line-height-h3: 28px;
$line-height-h4: 24px;
$line-height-h5: 16px;
$line-height-regular: 24px;
$line-height-small: 20px;
$line-height-small-bold: 20px;
$line-height-caption: 10px;


$font-family: 'Averta';
$font_path: '/fonts/';

// font-size
$font-size-h1: 36px;
$font-size-h2: 28px;
$font-size-h3: 20px;
$font-size-h4: 18px;
$font-size-h5: 14px;
$font-size-regular: 14px;
$font-size-small: 14px;
$font-size-small-bold: 14px;
$font-size-caption: 12px;
$font-size-tiny: 8px;

// font-weights
$font-thin: 100;
$font-light: 400;
$font-regular: 500;
$font-medium: 600;
$font-bold: 700;
$font-ultra: 900;

$box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
$border-radius: $building-unit;
$default-transition: all .5s;
